{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <title>Fetch API Exemplo</title>
    </head>
    <body>
        <h1>Exemplo de Fetch com Botão</h1>
        <span>url <a href="{% url "api:clothes" %}">roupas</a></span>
        <button onclick="buscarDados()">Buscar Dados</button>
        
        <ul id="resultado">Clique no botão para ver os dados!</ul>

        <script src="{% static "js/index.js" %}"></script>
    </body>
</html>
